body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFBFC0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.letter {
    width: 140px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.letter:hover {
    transform: scale(1.2);
}

.typewriter h2 {
    font-family: "VT323", monospace;
    font-size: 2em;
    color: black;
    text-align: center;
    margin-top: 0;
    overflow: hidden;
    border-right: .12em solid rgb(142, 0, 24);
    white-space: nowrap;
    animation: typing 3.5s steps(22,end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(142, 0, 24) }
  }

.message-screen {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background-color: #FFBFC0;
    padding: 20px;
    white-space: pre-wrap;
    
}

.message-screen p {
    font-size: 3em;
    color: black;
    margin: 0;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .message-screen p::after { /* CSS pseudo-element */
    font-family: 'bootstrap-icons';
    content: '\F59D';  /* unicode */
    font-size: 30px;
    vertical-align: middle;
    margin-left: 15px;
    color:rgb(142, 0, 24);
  }